html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.arrow-container {
  cursor: pointer;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.sidebar-container.collapsed .arrow-icon {
  transform: rotate(180deg);
}

.arrow-container:hover .arrow-icon {
  transform: rotate(180deg);
}

.sidebar-container.collapsed .arrow-container:hover .arrow-icon {
  transform: rotate(0deg);
}

.sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  overflow-y: auto;
  background-color: #f8f9fa;
  transition: width 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  left: 0;
}

.sidebar-container.collapsed {
  width: 60px;
}

.sidebar-container:hover {
  width: 250px;
}

.sidebar-container.collapsed .menu-scroll {
  overflow: hidden;
}

.menu-scroll {
  max-height: calc(100vh - 80px);
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
}

.sidebar-container:hover .menu-scroll {
  overflow-y: auto;
}



.main-content {
  margin-left: 220px;
  height: 100vh;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.hamburger-button {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1100;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  color: #333;
}

.hamburger-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  position: relative;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #333;
  left: 0;
}

.hamburger-icon::before {
  top: -8px;
}

.hamburger-icon::after {
  bottom: -8px;
}

@media (max-width: 1199px) {
  .hamburger-button {
    display: block;
    top: 0px;
  }

  .sidebar-container {
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar-container.open {
    transform: translateX(0);
  }

  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }

  .sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }

  .sidebar-container.open + .sidebar-overlay {
    display: block;
  }

  .main-content {
    margin-left: 0;
  }
}
