@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container-xxl {
        padding: 0 20px;
    }

    .card-header {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .card-header h5 {
        font-size: 1.25rem;
    }

    .mb-2.text-end {
        text-align: right;
        margin-top: 0;
    }

    .col-7 {
        width: 70%;
    }

    .text-end {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin-top: 0;
    }

    .btn {
        width: auto;
        white-space: nowrap;
    }
   
    

}

@media screen and (max-width: 768px) {
    .container-xxl {
        padding: 0 15px;
    }

    .card-header {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        text-wrap: nowrap;
    }

    .card-header h5 {
        font-size: 1.1rem;
    }

    .mb-2.text-end {
        text-align: center;
        /* margin-top: 5px; */
    }

    .col-7 {
        width: 100%;
    }

    .text-end {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin-top: 10px;
        margin-left: 0px;
    }
    .btn{
        width:auto;
        text-wrap:nowrap; ;
        
    }
}

@media (max-width: 321px) {
 .addBtn {
        display: block !important;
        margin-right: 5px;
        margin-bottom: 10px;
        font-size: 10px;
    }

    .addSubBtn {
        display: block !important;
        font-size: 12px;
        height: 32px;
    }
}
